.form-register {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  position: relative;
}

.title-register {
  font-size: 28px;
  color: #333;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.title-register::before,.title-register::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: black;
}

.title-register::before {
  width: 18px;
  height: 18px;
  background-color: black;
}

.title-register::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.message, .signin {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
}

.signin {
  text-align: center;
}

.signin a {
  color: black;
}

.signin a:hover {
  text-decoration: underline black;
}

.flex {
  display: flex;
  width: 100%;
  gap: 10px;
}

.form-register label {
  position: relative;
}

.form-register label .input-register-form {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form-register label .input-register-form + span {
  position: absolute;
  left: 10px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form-register label .input-register-form:placeholder-shown + span {
  font-size: 0.9em;
}

.form-register label .input-register-form:focus + span,.form-register label .input-register-form:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.submit {
  border: none;
  outline: none;
  background-color: #d13e2b;
  padding: 10px;
  border-radius: 10px;
  color: #111;
  font-size: 16px;
  transform: .3s ease;
}

.submit:hover {
  background-color: #d13e2b;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}